form {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.MuiFormControl-root {
  width: 100%;
  margin-bottom: 20px;
}


.MuiFormHelperText-root {
  color: #f44336;
}


.MuiButton-root {
  width: 100%;
  background-color: #2196f3;
  color: #fff;
}


.MuiButton-root:hover {
  background-color: #1976d2;
}

small {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}